# Ignorar arquivos de configuração do Meltano
*.lock

# Ignorar arquivos de logs
*.log

# Ignorar arquivos de configuração específicos do ambiente (por exemplo, arquivos do Docker)
docker-compose.yml

# Ignorar arquivos de desenvolvimento locais (ex: notebooks, arquivos temporários)
*.ipynb
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignorar diretórios e arquivos de plugins e transforms
plugins/
transform/

